li {
   img {
      background-color: var(--gray-0);
      border-radius: var(--radius);
      height: 150px;
      width: 100%;
      object-fit: contain;
   }

   div {
      padding: 2.0rem;
      display: flex;
      flex-direction: column;
      gap: 1.0rem;
   }
}

@media (max-width: 1024px) {
   li {
      div {
         width: 30.0rem;
      }

   }

}